.User_icon{
    width: 32px;
    height: 32px;
    background-color: bisque;
    border-radius: 100%;
    cursor: pointer;
}
.bar{
    width: 32px;
    height: 32px;
}
.close{
    width: 32px;
    height: 32px;
}