.Footer_container{
    margin-top: 20px;
}
/* logo */
.Logo{
    width: 44px;
    height: 44px;
    cursor: pointer;
}
.Logo:first-child{
    color: rgb(138, 147, 155);
    transition: all .2s ease-in-out;
}
.Logo:hover:first-child{
    color: black;
}
.Footer_title{
    font-size: 20px;
    font-weight: 700;
}
.Footer_copyright{
    font-size: 13px;
    font-weight: 700;
}