.WalletMenu_container {
    background-color: white;
    width: 420px;
    height: 100%;
    border: 1px solid rgb(229, 232, 235);
    padding: 20px 0;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
    position: fixed;
    top: 75px;
    right: 0;
    z-index: 50;
}

.WalletMenu_title {
    font-size: 16px;
    font-weight: 600;
    color: rgb(4, 17, 29);
}

.WalletMenu_icon {
    width: 30px;
    height: 30px;
}

.WalletMenu_content {
    color: rgb(32, 129, 226);
}
.WalletMenu_line{
    position: relative;
    margin-top: 20px;
}
.WalletMenu_line::before{
    content: "";
    position: absolute;
    width: 100%;
    border-top: 1px solid rgb(229, 232, 235);
}
.WalletMenu_option {
    font-weight: 400;
    font-size: 16px;
    color: rgb(112, 122, 131);
    padding-top: 20px;
}

.WalletMenu_overlay {
    width: 57%;
    height: 100%;
    position: fixed;
    top: 75px;
    left: 0px;
    transform: translate(29.3%,0%);
    background-color: rgba(0, 0, 0, 0.15);
}
.WalletMenu_network{
    border: 1px solid rgb(229, 232, 235);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 20px;
    margin-top: 20px;
}