.SearchBar_container {
    border: 1px solid rgb(224, 227, 231);
    background-color: rgb(243, 246, 249);
    border-radius: 10px;
    height: 34px;
    padding: 1px 6px 1px 8px;
    width: 200px;
    cursor: pointer;
}

.SearchBar_input {
    color: rgb(62, 80, 96);
    font-size: 1rem;
    outline: none;
    border: none;
    width: 120px;
    min-height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.SearchBar_icon {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    color: #007FFF;
}

.SearchBar_enter {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 0.75rem;
    line-height: 20px;
    padding: 0px 6.4px;
    border: 1px solid rgb(224, 227, 231);
    font-weight: 700;
}
.bar{
    margin-right: 20px;
}