.WalletOption_img{
    height: 24px;
    width: 24px;
}
.WalletOption_network{
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
}
.WalletOption_title{
    font-size: 14px;
    font-weight: 700;
}