.User_container{
    background-color: rgb(237,239,242);
    padding: 16px 20px;
    margin-top: 20px;
    border-radius: 12px;
    cursor: pointer;
    width: 290px;
}
.User_info{
    width: 100%;
}
